<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fish.dao.EvaluateMapper" >
  <resultMap id="BaseResultMap" type="com.fish.pojo.Evaluate" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user" property="user" jdbcType="INTEGER" />
    <result column="post" property="post" jdbcType="INTEGER" />
    <result column="parent" property="parent" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="auto_date" property="autoDate" jdbcType="TIMESTAMP" />
    <result column="evaluate_parent" property="evaluate_parent" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user, post, parent, content, auto_date, evaluate_parent
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_evaluate
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_evaluate
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" parameterType="com.fish.pojo.Evaluate" useGeneratedKeys="true" keyProperty="id">
    insert into tb_evaluate
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="user != null" >
        user,
      </if>
      <if test="post != null" >
        post,
      </if>
      <if test="parent != null" >
        parent,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="autoDate != null" >
        auto_date,
      </if>
      <if test="evaluate_parent != null" >
        evaluate_parent,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="user != null" >
        #{user,jdbcType=INTEGER},
      </if>
      <if test="post != null" >
        #{post,jdbcType=INTEGER},
      </if>
      <if test="parent != null" >
        #{parent,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="autoDate != null" >
        #{autoDate,jdbcType=TIMESTAMP},
      </if>
      <if test="evaluate_parent != null" >
        #{evaluate_parent,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fish.pojo.Evaluate" >
    update tb_evaluate
    <set >
      <if test="user != null" >
        user = #{user,jdbcType=INTEGER},
      </if>
      <if test="post != null" >
        post = #{post,jdbcType=INTEGER},
      </if>
      <if test="parent != null" >
        parent = #{parent,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="autoDate != null" >
        auto_date = #{autoDate,jdbcType=TIMESTAMP},
      </if>
      <if test="evaluate_parent != null" >
        evaluate_parent = #{evaluate_parent,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
  
  <!-- 查询帖子的评论列表 -->
  <select id = "evaluateListByPost" parameterType = "Map" resultType = "Map">
		SELECT 
		         	 e.id, u.nick, u.image, e.content,
		         	 DATE_FORMAT(e.auto_date,'%H:%i') as time,
					 TIMESTAMPDIFF(Month, u.frist_fishing_date ,now()) as monthDiff, 
					 IFNULL(s.fishCount,0) as fishCount, 
					 IFNULL(sum(fl.fishing_count), 0) as totalCount,
					 IFNULL(sum(fl.fishing_weight), 0) as totalWeight
		FROM  
		         	 tb_evaluate e LEFT JOIN tb_user u ON e.user = u.id 
		                       	   LEFT JOIN tb_fishing_logs fl ON fl.post = e.post 
								   LEFT JOIN 
											 (
												 select count(s.id) as fishCount, s.user from tb_sign s 
											 ) s on s.user = e.user 
					                       
		WHERE 
		          	 e.post = #{post} and ISNULL(e.parent)
		GROUP BY 
		          	 e.user 
  
  </select>
  
  
  
  
  <!-- 评论的回复 -->
  <select id="replyList" parameterType="Map" resultType="Map">
		SELECT 
		          e.id, e.content, u.image, u.nick, e.parent,
		          ru.nick ruNick, ru.image ruImage   
		FROM 
		          tb_evaluate e LEFT JOIN tb_user u ON e.user = u.id 
		                        LEFT JOIN tb_evaluate re ON re.id = e.parent 
		                        LEFT JOIN tb_user ru ON ru.id = re.user 
		WHERE     
		          e.evaluate_parent = #{parent} 
		ORDER BY 
		          e.auto_date ASC 
  
  
  </select>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
</mapper>