<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fish.dao.FishingGroundMapper" >
  <resultMap id="BaseResultMap" type="com.fish.pojo.FishingGround" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="poster" property="poster" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="fee_type" property="feeType" jdbcType="INTEGER" />
    <result column="fee" property="fee" jdbcType="INTEGER" />
    <result column="water_area" property="waterArea" jdbcType="INTEGER" />
    <result column="water_deep" property="waterDeep" jdbcType="INTEGER" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="longitude" property="longitude" jdbcType="DECIMAL" />
    <result column="latitude" property="latitude" jdbcType="DECIMAL" />
    <result column="telephone" property="telephone" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="owner" property="owner" jdbcType="INTEGER" />
    <result column="auto_date" property="autoDate" jdbcType="TIMESTAMP" />
    <result column="creator" property="creator" jdbcType="INTEGER" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="poi_id" property="poi_id" jdbcType="VARCHAR" />
    <result column="wechat_audit" property="wechat_audit" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, poster, name, type, fee_type, fee, water_area, water_deep, address, longitude, 
    latitude, telephone, remark, owner, auto_date, creator, city
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_fishing_ground
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_fishing_ground
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" parameterType="com.fish.pojo.FishingGround" useGeneratedKeys="true" keyProperty="id">
    insert into tb_fishing_ground
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="poster != null" >
        poster,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="feeType != null" >
        fee_type,
      </if>
      <if test="fee != null" >
        fee,
      </if>
      <if test="waterArea != null" >
        water_area,
      </if>
      <if test="waterDeep != null" >
        water_deep,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="longitude != null" >
        longitude,
      </if>
      <if test="latitude != null" >
        latitude,
      </if>
      <if test="telephone != null" >
        telephone,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="owner != null" >
        owner,
      </if>
      <if test="autoDate != null" >
        auto_date,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="poi_id != null" >
        poi_id,
      </if>
      <if test="wechat_audit != null" >
        wechat_audit,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="poster != null" >
        #{poster,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="feeType != null" >
        #{feeType,jdbcType=INTEGER},
      </if>
      <if test="fee != null" >
        #{fee,jdbcType=INTEGER},
      </if>
      <if test="waterArea != null" >
        #{waterArea,jdbcType=INTEGER},
      </if>
      <if test="waterDeep != null" >
        #{waterDeep,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=INTEGER},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=INTEGER},
      </if>
      <if test="telephone != null" >
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="owner != null" >
        #{owner,jdbcType=INTEGER},
      </if>
      <if test="autoDate != null" >
        #{autoDate,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=INTEGER},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="poi_id != null" >
        #{poi_id,jdbcType=VARCHAR},
      </if>
      <if test="wechat_audit != null" >
        #{wechat_audit,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fish.pojo.FishingGround" >
    update tb_fishing_ground
    <set >
      <if test="poster != null" >
        poster = #{poster,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="feeType != null" >
        fee_type = #{feeType,jdbcType=INTEGER},
      </if>
      <if test="fee != null" >
        fee = #{fee,jdbcType=INTEGER},
      </if>
      <if test="waterArea != null" >
        water_area = #{waterArea,jdbcType=INTEGER},
      </if>
      <if test="waterDeep != null" >
        water_deep = #{waterDeep,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        longitude = #{longitude,jdbcType=INTEGER},
      </if>
      <if test="latitude != null" >
        latitude = #{latitude,jdbcType=INTEGER},
      </if>
      <if test="telephone != null" >
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="owner != null" >
        owner = #{owner,jdbcType=INTEGER},
      </if>
      <if test="autoDate != null" >
        auto_date = #{autoDate,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=INTEGER},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="poi_id != null" >
        poi_id = #{poi_id,jdbcType=VARCHAR},
      </if>
      <if test="wechat_audit != null" >
        wechat_audit = #{wechat_audit,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- 通过钓场id列表查询poi_id列表 -->
  <select id="getPoiIdListByIdList" parameterType="String" resultType="String">
  	select poi_id from tb_fishing_ground where id in(#{_parameter})
  </select> 
  
  <!-- 通过钓场id列表查询钓场列表信息 -->
  <select id="getFishingGroundListByIdList" parameterType="String" resultType="Map">
  	select id,name,poster from tb_fishing_ground where id in(#{_parameter})
  </select>
  
  <!-- 查询钓场列表 -->
  <select id="getFishingGroundList" parameterType="Map" resultType="Map">
  	select t.*, 
	(select count(id) from tb_sign where fishing_ground = t.id) userCount,
	(select count(l.fishing_count) from tb_fishing_logs l inner join tb_sign s on l.sign = s.id where s.fishing_ground = t.id) fishingCount,
	(select IFNULL(sum(l.fishing_weight), 0) from tb_fishing_logs l inner join tb_sign s on l.sign = s.id where s.fishing_ground = t.id) fishingSumWeight,
	(select IFNULL(max(l.fishing_weight), 0) from tb_fishing_logs l inner join tb_sign s on l.sign = s.id where s.fishing_ground = t.id) fishingMaxWeight,
	ROUND(6378.138 * 2 * ASIN(SQRT(POW(SIN((t.latitude * PI() / 180 - t.mLatitude * PI() / 180) / 2),2) + COS(t.mLatitude * PI() / 180) *
	COS(t.latitude * PI() / 180) * POW(SIN((t.longitude * PI() / 180 - t.mLongitude * PI() / 180) / 2),2))) * 1000) AS distance
	from (select id,name,poster,city,longitude,latitude, #{longitude} mLongitude, #{latitude} mLatitude from tb_fishing_ground 
	where wechat_audit = #{audit}
	<if test="user != null">
		and owner = #{user}
	</if>
	<if test="city != null">
	 	and city = #{city}
	</if>
	<if test="type != null">
		and type = #{type}
	</if>
	<if test="name != null">
		and t.name like '%#{name}%'
	</if>
	) t
	<if test="fishingCount != null">
		order by fishingCount desc
	</if>
	<if test="userCount != null">
		order by userCount desc
	</if>
	<if test="distance != null">
		order by distance desc
	</if>
  </select>
 </mapper>