<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fish.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.fish.pojo.User" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="nick" property="nick" jdbcType="VARCHAR" />
    <result column="image" property="image" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="register_date" property="registerDate" jdbcType="TIMESTAMP" />
    <result column="login_date" property="loginDate" jdbcType="TIMESTAMP" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="county" property="county" jdbcType="VARCHAR" />
    <result column="score" property="score" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="frist_fishing_date" property="fristFishingDate" jdbcType="TIMESTAMP" />
    <result column="tech_fee" property="techFee" jdbcType="INTEGER" />
    <result column="telephone" property="telephone" jdbcType="VARCHAR" />
    <result column="wechat_id" property="wechatId" jdbcType="VARCHAR" />
    <result column="recommend_user" property="recommend_user" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, nick, image, sex, register_date, login_date, province, city, county, score, type, 
    frist_fishing_date, tech_fee, telephone, wechat_id, recommend_user, level
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" parameterType="com.fish.pojo.User" useGeneratedKeys="true" keyProperty="id">
    insert into tb_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="nick != null" >
        nick,
      </if>
      <if test="image != null" >
        image,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="registerDate != null" >
        register_date,
      </if>
      <if test="loginDate != null" >
        login_date,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="county != null" >
        county,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="fristFishingDate != null" >
        frist_fishing_date,
      </if>
      <if test="techFee != null" >
        tech_fee,
      </if>
      <if test="telephone != null" >
        telephone,
      </if>
      <if test="wechatId != null" >
        wechat_id,
      </if>
      <if test="recommend_user != null" >
        recommend_user,
      </if>
      <if test="level != null" >
        level,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="nick != null" >
        #{nick,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="registerDate != null" >
        #{registerDate,jdbcType=TIMESTAMP},
      </if>
      <if test="loginDate != null" >
        #{loginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="county != null" >
        #{county,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        #{score,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="fristFishingDate != null" >
        #{fristFishingDate,jdbcType=TIMESTAMP},
      </if>
      <if test="techFee != null" >
        #{techFee,jdbcType=INTEGER},
      </if>
      <if test="telephone != null" >
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="wechatId != null" >
        #{wechatId,jdbcType=VARCHAR},
      </if>
      <if test="recommend_user != null" >
        #{recommend_user,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fish.pojo.User" >
    update tb_user
    <set >
      <if test="nick != null" >
        nick = #{nick,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="registerDate != null" >
        register_date = #{registerDate,jdbcType=TIMESTAMP},
      </if>
      <if test="loginDate != null" >
        login_date = #{loginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="county != null" >
        county = #{county,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="fristFishingDate != null" >
        frist_fishing_date = #{fristFishingDate,jdbcType=TIMESTAMP},
      </if>
      <if test="techFee != null" >
        tech_fee = #{techFee,jdbcType=INTEGER},
      </if>
      <if test="telephone != null" >
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="wechatId != null" >
        wechat_id = #{wechatId,jdbcType=VARCHAR},
      </if>
      <if test="recommend_user != null" >
        wechat_id = #{recommend_user,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        wechat_id = #{level,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
  <!-- 根据wechatId查询用户 -->
  <select id="getUserByWechatid" resultMap="BaseResultMap" parameterType="Map" >
          select 
           <include refid="Base_Column_List"/> 
           from tb_user 
           where wechat_id = #{wechat_id}
  </select>
  
  
  
  <!-- 查询用户垂钓信息 -->
  <select id="getUserFishInfo" parameterType="Map" resultType="Map">
		  select 
	                u.id, u.image, u.nick, u.city, u.county, le.name as level, u.telephone,
					IFNULL(TIMESTAMPDIFF(YEAR,u.frist_fishing_date, now()), 0) as fishAge,
					count(p.id) as fishCount, IFNULL(sum(fl.fishing_count), 0) as totalCount,
					IFNULL(sum(fl.fishing_weight), 0) as totalWeight, 
					IFNULL(tell.single_max_weight,0) as single_max_weight 	
						
		  from 
			        tb_user u LEFT JOIN tb_post p ON u.id = p.user 
							  LEFT JOIN tb_fishing_logs fl on fl.post = p.id 
							  LEFT JOIN 
							  (
							  	select l.post, l.single_max_weight from tb_fishing_logs l order by l.single_max_weight desc LIMIT 1	
							  ) tell ON tell.post = p.id 
							   LEFT JOIN 
						      (
						        select pa.id, pa.name, pa.code from  tb_parameter pa left join tb_parameter prt on pa.parent = prt.id 
						            where  prt.code = #{parent_code} 
						      ) le ON u.level = le.code
					
					
		 group by 
		           	u.id 
		   having 
		           	u.id = #{userId} 
			        
  
  
  </select>  
  
  <!-- 达人榜 -->
  <select id="getRanking" parameterType="Map" resultType="Map">
  	select t.*, 5 pleaseCount, 
	(select IFNULL(sum(money), 0) from tb_order where id = 1 and status > 0) income,
	6 shareIncome
	from (
		select 
		u.id, u.image, u.nick, u.city, u.county, le.name as level, u.telephone,
		IFNULL(TIMESTAMPDIFF(YEAR,u.frist_fishing_date, now()), 0) as fishAge,
		count(p.id) as fishCount, IFNULL(sum(fl.fishing_count), 0) as totalCount,
		IFNULL(sum(fl.fishing_weight), 0) as totalWeight, 
		IFNULL(tell.single_max_weight,0) as singleMaxWeight 		
		from 
		tb_user u left join tb_post p ON u.id = p.user 
		left join tb_fishing_logs fl on fl.post = p.id 
		left join 
		(
			select l.post, l.single_max_weight from tb_fishing_logs l order by l.single_max_weight desc LIMIT 1	
		) tell ON tell.post = p.id 
		LEFT JOIN 
        (
          select pa.id, pa.name, pa.code from  tb_parameter pa left join tb_parameter prt on pa.parent = prt.id 
             where  prt.code = #{parent_code} 
        ) le ON u.level = le.code 
				
		group by u.id 
	) t
	
	<if test="limit == 'fishCount'">
		order by fishCount desc
	</if>
	<if test="limit == 'totalCount'">
		order by totalCount desc
	</if>
	<if test="limit == 'totalWeight'">
		order by totalWeight desc
	</if>
	<if test="limit == 'singleMaxWeight'">
		order by singleMaxWeight desc
	</if>
	<if test="limit == 'pleaseCount'">
		order by pleaseCount desc
	</if>
	<if test="limit == 'income'">
		order by income desc
	</if>
	<if test="limit == 'shareIncome'">
		order by shareIncome desc
	</if>
  </select>
</mapper>